<div fxLayout="column" fxLayoutGap>
  <ps-content-panel fxFlex color="accent">
    <div class="headline">My Personal Site (You are Here)</div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        I set out to recreate my personal website with the goal of representing
        who I am, and the skills I have. I did my best to outline my process for
        developing the site in its
        <a
          class="body-link"
          href="https://github.com/dawningfuture/personal-site"
          target="_blank"
        >
          README on Github <mat-icon>open_in_new</mat-icon> </a
        >. Here's some of the things I built that I think are cool:
      </div>
    </ps-content-panel>
  </ps-content-container>

  <ps-content-container fxFlex>
    <ps-code-content-angular></ps-code-content-angular>
  </ps-content-container>
</div>
