<mt-navbar></mt-navbar>
<div class="container about">
    <h1>About Matthew</h1>
    <hr/>
    <div class="row">
        <div class="container">
            <div class="col-sm-4">
                <img src="/assetts/img/matthew.jpg" class="img-responsive">
            </div>
            <div class="col-sm-8">
                <h2>Professional</h2>
                <hr>
                <p>By day, I am a Computer Science major, minoring in Business, at the University of Colorado - Boulder. My educational focus is on web development, particularly server-side architectures.</p>
                <p>My recent projects involve the AngularJS and Bootstrap frameworks, which allow me to create responsive, mobile-friendly web applications. I've also been working with the Node/Express server environment and MongoDB, rounding out the MEAN Stack of web technologies.</p>
                <p>For a demonstration of my work, please see my <a href="#projects">projects</a>.</p>
                <h2>Personal</h2>
                <hr>
                <p>In my spare time, I camp in and hike the Rocky Mountains of beautiful Colorado, I fix and ride my bike, and I participate in UCEC (University of Colorado - Boulder Engineering Council) as a Representative. I'm excited to participate in the MS 150 again this summer, a 150-mile round-trip bike ride from Denver to Fort Collins in support of MS research and outreach. If you'd like to make a pledge to support the National MS Society in their important work, please <a href="http://main.nationalmssociety.org/site/TR/Bike/COCBikeEvents?px=8522934&pg=personal&fr_id=25572">click here.</a>
                </p>
                <p>I'm also thrilled to be a part of UCEC in the coming year as we work to improve communications within the Engineering school at the University of Colorado - Boulder. I want to thank everyone that supported me in the elections, as well as the members of the UNITE team for all the hard work and time they committed to the election. If you're an engineer and have a problem with the Engineering school, please <a href="#contact">email me</a>; I'd appreciate the opportunity to work with you to improve our school.</p>
            </div>
        </div>
    </div>
    <h1>My Social Media</h1>
    <hr/>
    <div class="row center-block">
        <div class="contianer">
            <div class="col-md-4 img-vhcenter">
                <a href="https://www.facebook.com/dawningfuture"><img src="/assetts/img/facebook.png" class="img-responsive">
                </a>
            </div>
            <div class="col-md-4 img-vhcenter">
                <a href="https://www.linkedin.com/pub/matthew-thompson/4a/11a/48b "><img src="/assetts/img/linkedin.png" class="img-responsive">
                </a>
            </div>
            <div class="col-md-4 img-vhcenter">
                <a href="https://github.com/dawningfuture"><img src="/assetts/img/github.png" class="img-responsive">
                </a>
            </div>
        </div>
    </div>

</div>
