<mt-navbar></mt-navbar>
<div class="container">
    <h1>Contact Matthew</h1>
    <hr/>

    <div class="row">
        <div class="jumbotron">
            <h2 class="contact-jumbotron text-justify">For security (anti-spam) reasons, I publish a minimal amount of personal information online; however, if you like to contact me, please feel free to email me at <a href="mailto:contact@matthewthompson.us">contact@matthewthompson.us</a>. Thanks you very much for your interest!</h2>
        </div>
    </div>
</div>
