<mt-navbar></mt-navbar>
<div class="container">
    <h1>My Projects</h1>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="no-wrap">Project</th>
                            <th class="no-wrap">Live Preview / Repository</th>
                            <th class="no-wrap">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no-wrap">MyStudentPoints</td>
                            <td class="no-wrap">
                                <p><a href="http://www.mystudentpoints.com">Live Preview</a>
                                </p>
                                <p>Repositiory is unavailable</p>
                            </td>
                            <td class="wrap-text">
                                <p>This is a project I have contributed to whose mission is to increase university students' involvement in their classes by rewarding them with incentives from local businesses to show up to class. We are currently developing an alpha prototype of the iPhone, Android, and web apps, but information about the company is available at the link to the site I designed to the left.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="no-wrap">Inu</td>
                            <td class="no-wrap">
                                <p><a href="http://memorygain.info">Live Preview</a>
                                </p>
                                <p><a href="https://github.com/dawningfuture/software-methods-and-tools-project">Repository</a>
                                </p>
                            </td>
                            <td>Inu is the product of the group project we completed for the Software Engineering Projects and Tools course I took in the Fall semester of 2014. It utilizes the Google Maps Javascript API to display dog-friendly establishments and public facilities (Inu is Japanese for "dog"). Bootstrap is used to provide a responsive framework, which I then turned into a sliding-sections SPA (Single Page Application). As a final component, one of my teammates created a blog for the site, which can be viewed on the live preview.</td>
                        </tr>
                        <tr>
                            <td class="no-wrap">Personal Site</td>
                            <td class="no-wrap">
                                <p>You are here!</p>
                                <p><a href="https://github.com/dawningfuture/personal-site">Repository</a>
                                </p>
                            </td>
                            <td>This site was built using the skills I have gained in developing responsive websites using the AngularJS and Bootstrap frameworks. If you have any suggestions or general comments (on this or any piece of my work), I am open to construtive criticism; please <a href="#contact">contact me</a> with your thoughts.</td>

                        </tr>
                        <tr>
                            <td class="no-wrap">MEAN Stack Training Site</td>
                            <td class="no-wrap">
                                <p>Live preview is unavailable</a>
                                </p>
                                <p><a href="https://github.com/dawningfuture/mean-training">Repository</a>
                                </p>
                            </td>
                            <td>In training to use the MEAN stack of web development technologies, I created a site with a MongoDB database, the Express / NodeJS server environment, and an AngularJS / Bootstrap frontend. It allows for account creation and persistence of account data in a database. While it is a rough training project, it is a good example of the power of the MEAN stack to create professional sites quickly and reliably.</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
