<ps-content fxLayout="column" fxLayoutGap>
  <ps-content-panel fxFlex color="accent">
    <div ngClass.gt-xs="display-gt-xs" ngClass.xs="display-xs">
      Projects become my passions.
    </div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        When I work on a project, I am passionate about it. It is important to
        me that the projects I work on pursue my mission: whatever I work on, I
        want it to create joy. The projects I've recently created have brought
        me a lot of joy, and I hope, others as well.
      </div>

      <div fxFlex class="body">
        Below, I'm going to nerd out about my recent projects that I'm most
        proud of. I love talking about them; if you would like to know more
        about them, or think we might be able to connect around another project,
        please use the Connect page and reach out to me.
      </div>
    </ps-content-panel>
  </ps-content-container>

  <ps-content-panel fxFlex color="accent">
    <div class="headline">My Personal Site (You are Here)</div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        I set out to recreate my personal website with the goal of representing
        who I am, and the skills I have. I did my best to outline my process for
        developing the site in its
        <a
          class="body-link"
          href="https://github.com/dawningfuture/personal-site"
          target="_blank"
        >
          README on Github <mat-icon>open_in_new</mat-icon> </a
        >. Here's some of the things I built that I think are cool:
      </div>
    </ps-content-panel>
  </ps-content-container>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="title">Angular Frontend</div>

      <mat-divider fxFlex></mat-divider>

      <div fxFlex fxLayout.gt-xs="row-reverse" fxLayout.xs="column">
        <img
          fxFlex
          fxFlex.gt-xs="25%"
          fxFill
          src="https://media.matthewthompson.us/personal-site/pages/code/code-angular-logo.png"
        />

        <div fxFlex fxLayout="column" fxLayoutGap>
          <div fxFlex class="body">
            I did my best to show the Angular best practices that I have learned
            over the years on this site. The code is
            <a
              class="body-link"
              href="https://github.com/dawningfuture/personal-site"
              target="_blank"
              >publicly available on Github <mat-icon>open_in_new</mat-icon></a
            >, and I did my best as I was developing the site to document my
            thoughts on the best practices and methodoligies I was using.
          </div>

          <div fxFlex class="body">
            Also, I used several libraries that let me achieve many of the
            site's features:
          </div>

          <ps-content-panel
            fxFlex
            fxLayout="row"
            fxLayoutAlign="center"
            color="primary"
          >
            <a
              class="panel-link"
              href="https://material.angular.io/"
              target="_blank"
              >@angular/material <mat-icon>open_in_new</mat-icon></a
            >
          </ps-content-panel>

          <div fxFlex class="body">
            This library gives me the basic styles of this site, which I
            override to incorporate my own design. When I'm developing, I try
            not to reinvent the wheel. Angular Material provides a styling
            system that sets the baseline for the look of the site's components,
            but gives me the freedom to make the site my own.
          </div>

          <ps-content-panel
            fxFlex
            fxLayout="row"
            fxLayoutAlign="center"
            color="primary"
          >
            <a
              class="panel-link"
              href="https://material.angular.io/"
              target="_blank"
              >@angular/flex-layout <mat-icon>open_in_new</mat-icon></a
            >
          </ps-content-panel>

          <div fxFlex class="body">
            I really enjoy using Flexbox CSS to design my layouts; this library
            allows me to integrate a responsive Flexbox API into Angular to make
            my site optimized for whatever screen it's being viewed on. I
            especially enjoy its breakpoint system, which makes mobile
            optimization much easier.
          </div>

          <ps-content-panel
            fxFlex
            fxLayout="row"
            fxLayoutAlign="center"
            color="primary"
          >
            <a
              class="panel-link"
              href="https://material.angular.io/"
              target="_blank"
              >@angular/animations <mat-icon>open_in_new</mat-icon></a
            >
          </ps-content-panel>

          <div fxFlex class="body">
            I want the projects I work on to bring joy to people, and I find
            that is helped greatly when I can create an appealing experience. I
            use this library to more easily add the animations that make the
            site more enjoyable to interact with.
          </div>

          <ps-content-panel
            fxFlex
            fxLayout="row"
            fxLayoutAlign="center"
            color="primary"
          >
            <a class="panel-link" href="https://ngrx.io/" target="_blank"
              >@ngrx/[store | effects | router-store | store-devtools]
              <mat-icon>open_in_new</mat-icon></a
            >
          </ps-content-panel>

          <div fxFlex class="body">
            When I discovered NgRx, I fell in love with the library's reactive
            store approach to state management. I use it on this site to do
            messaging and state maintenance. You can see it action using the
            <a
              class="body-link"
              href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en"
              target="_blank"
              >Redux DevTools Chrome extenstion
              <mat-icon>open_in_new</mat-icon></a
            >.
          </div>
        </div>
      </div>
    </ps-content-panel>
  </ps-content-container>
</ps-content>
