@use '~@angular/material' as mat;
@use 'sass:map';
@use 'material';
@use "variables";
@use "utilities";

@mixin level($typography-level) {
  @include mat.typography-level(material.$ps-typography, $typography-level);

  mat-icon {
    font-size: mat.font-size(material.$ps-typography, $typography-level);
    height: mat.font-size(material.$ps-typography, $typography-level);
    width: mat.font-size(material.$ps-typography, $typography-level);
    line-height: mat.line-height(material.$ps-typography, $typography-level);
    vertical-align: top;
  }
}

@mixin primary {
  color: material.$ps-primary-default-color;
}

@mixin accent {
  color: material.$ps-accent-default-color;
}

@mixin contrast {
  color: white;
}

@mixin shadow {
  text-shadow: variables.$ps-shadow;
}

@mixin center {
  text-align: center;
}

@mixin link {
  @include primary;
  @include utilities.link;
}

// NOTE: This is meant to style short code snippets within text blocks
// without affecting the line height of the surrounding text
@mixin code {
  // NOTE: I use `inline-block` so that `vertical-align` takes effect on
  // the element's height
  display: inline-block;
  vertical-align: bottom;

  // NOTE: This shrinks the font and adds spacing so the background is more apparent
  font-family: monospace;
  font-size: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;

  // NOTE: This sets the background of the code block to distinguish it from
  // surrounding text
  background-color: map.get(mat.$grey-palette, 400);
  border-radius: 3px;
}
