<div class="ps-mission-page-container" fxFlexFill fxLayout="column">
  <div class="headline" fxFlexFill fxLayout="column">
    <div fxFlex></div>
    <div
      fxFlex="0 1 auto"
      ngClass.gt-xs="headline-top-gt-xs"
      ngClass.xs="headline-top-xs"
    >
      I am on a mission:
    </div>
    <div
      fxFlex="0 1 auto"
      ngClass.gt-xs="headline-bottom-gt-xs"
      ngClass.xs="headline-bottom-xs"
    >
      Create Joy.
    </div>
    <div fxFlex></div>
  </div>
  <div class="content" fxLayout="row">
    <div fxFlex class="content-panel-left">
      <br />
      <br />
      <br />
      <br />
      xv
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      xv
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      xv
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
    <div fxFlex class="content-panel-right"></div>
  </div>
</div>
