<div class="ps-mission-page" fxFlexFill>
  <ps-mission-hero></ps-mission-hero>
  <div class="content" fxLayout="row">
    <div fxFlex class="content-panel-left">
      <br />
      <br />
      <br />
      <br />
      xv
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      xv
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      xv
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
    <div fxFlex class="content-panel-right"></div>
  </div>
</div>
