<div class="ps-mission-hero" fxFill>
  <img fxFill class="background-image" [src]="backgroundImageUrl$ | async" />

  <div class="headline" fxLayout="column">
    <div fxFlex></div>
    <div
      fxFlex="0 1 auto"
      ngClass.gt-xs="headline-top-gt-xs"
      ngClass.xs="headline-top-xs"
    >
      I am on a mission:
    </div>
    <div
      fxFlex="0 1 auto"
      ngClass.gt-xs="headline-bottom-gt-xs"
      ngClass.xs="headline-bottom-xs"
    >
      Create Joy.
    </div>
    <div fxFlex></div>
  </div>
</div>
