@use "material";
@use "text";

.ps-connect-content {
  background-color: material.$ps-primary-default-color;

  .headline {
    &-gt-xs {
      @include text.display-3-contrast;
      text-align: center;
    }

    &-xs {
      @include text.display-2-contrast;
      text-align: center;
    }
  }
}
