<div class="ps-connect-content">
  <ps-content-container>
    <div fxLayout="column" fxLayoutGap>
      <div fxFlex></div>

      <ps-content-panel fxFlex color="accent">
        <div class="headline">
          <div ngClass.gt-xs="headline-gt-xs" ngClass.xs="headline-xs">
            So let's create some joy...
          </div>
        </div>
      </ps-content-panel>

      <ps-content-panel fxFlex>
        <ps-connect-form></ps-connect-form>
      </ps-content-panel>

      <div fxFlex></div>
    </div>
  </ps-content-container>
</div>
