@use '~@angular/material' as mat;
@use 'sass:map';

$ps-typography: mat.define-typography-config(
  $font-family: "Montserrat",
);

$ps-primary: mat.define-palette(mat.$blue-palette);
$ps-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A700);
$ps-warn: mat.define-palette(mat.$red-palette);

$ps-theme: mat.define-light-theme(
  (
    color: (
      primary: $ps-primary,
      accent: $ps-accent,
      warn: $ps-warn,
    ),
    typography: $ps-typography,
  )
);

$ps-background: map.get($ps-theme, background);

// ********************
// VARIABLES AND MIXINS
// ********************

// **********
// TYPOGRAPHY
// **********
@mixin display-4 {
  @include mat.typography-level($ps-typography, "display-4");
}

@mixin display-3 {
  @include mat.typography-level($ps-typography, "display-3");
}

@mixin display-2 {
  @include mat.typography-level($ps-typography, "display-2");
}

@mixin display-1 {
  @include mat.typography-level($ps-typography, "display-1");
}

@mixin headline {
  @include mat.typography-level($ps-typography, "headline");
}

// ******
// COLORS
// ******
$ps-primary-default-color: mat.get-color-from-palette($ps-primary, "default");
$ps-accent-default-color: mat.get-color-from-palette($ps-accent, "default");
$ps-background-color: mat.get-color-from-palette($ps-background, background);
