@use '~@angular/material' as mat;
@use 'sass:map';

$ps-typography: mat.define-typography-config(
  $font-family: "Montserrat",
  $body-2: mat.define-typography-level(18px, 1.25em),
);

$ps-primary: mat.define-palette(mat.$blue-palette);
$ps-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A700);
$ps-warn: mat.define-palette(mat.$red-palette);

$ps-theme: mat.define-light-theme(
  (
    color: (
      primary: $ps-primary,
      accent: $ps-accent,
      warn: $ps-warn,
    ),
    typography: $ps-typography,
  )
);

$ps-background: map.get($ps-theme, background);

// ******
// COLORS
// ******
$ps-primary-default-color: mat.get-color-from-palette($ps-primary, "default");
$ps-accent-default-color: mat.get-color-from-palette($ps-accent, "default");
$ps-background-color: mat.get-color-from-palette($ps-background, background);

mat-icon {
  font-size: inherit;
  line-height: inherit;
}
