@use '~@angular/material' as mat;

$ps-typography: mat.define-typography-config(
  $font-family: "Montserrat",
);

@include mat.core($ps-typography);

$ps-primary: mat.define-palette(mat.$blue-palette);
$ps-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A700);
$ps-warn: mat.define-palette(mat.$red-palette);

$ps-primary-default: mat.get-color-from-palette($ps-primary, "default");

$ps-accent-default: mat.get-color-from-palette($ps-accent, "default");

$ps-theme: mat.define-light-theme(
  (
    color: (
      primary: $ps-primary,
      accent: $ps-accent,
      warn: $ps-warn,
    ),
    typography: $ps-typography,
  )
);

@include mat.all-component-themes($ps-theme);
