@use '~@angular/material' as mat;
@use 'material';
@use "variables";
@use "utilities";

// display-*
//
// Should be used once at the top of a page (e.g. in a hero)
// Ensure text wraps as desired on mobile given the very large size

@mixin level($typography-level) {
  @include mat.typography-level(material.$ps-typography, $typography-level);

  mat-icon {
    font-size: mat.font-size(material.$ps-typography, $typography-level);
    height: mat.font-size(material.$ps-typography, $typography-level);
    width: mat.font-size(material.$ps-typography, $typography-level);
    line-height: mat.line-height(material.$ps-typography, $typography-level);
    vertical-align: top;
  }
}

@mixin primary {
  color: material.$ps-primary-default-color;
}

@mixin accent {
  color: material.$ps-accent-default-color;
}

@mixin contrast {
  color: white;
}

@mixin shadow {
  text-shadow: variables.$ps-shadow;
}

@mixin center {
  text-align: center;
}

@mixin link {
  @include primary;
  @include utilities.link;
}
