@use '~@angular/material' as mat;
@use 'material';
@use "variables";
@use "utilities";

@mixin display-4 {
  @include mat.typography-level(material.$ps-typography, "display-4");
}

@mixin display-4-contrast {
  @include display-4;
  @include contrast;
}

@mixin display-3 {
  @include mat.typography-level(material.$ps-typography, "display-3");
}

@mixin display-3-contrast {
  @include display-3;
  @include contrast;
}

@mixin display-2 {
  @include mat.typography-level(material.$ps-typography, "display-2");
}

@mixin display-2-contrast {
  @include display-2;
  @include contrast;
}

@mixin display-1 {
  @include mat.typography-level(material.$ps-typography, "display-1");
}

@mixin display-1-contrast {
  @include display-1;
  @include contrast;
}

@mixin headline {
  @include mat.typography-level(material.$ps-typography, "headline");
}

@mixin headline-contrast {
  @include headline;
  @include contrast;
}

@mixin title {
  @include mat.typography-level(material.$ps-typography, "title");
}

@mixin title-contrast {
  @include title;
  @include contrast;
}

@mixin subheading-2 {
  @include mat.typography-level(material.$ps-typography, "subheading-2");
}

@mixin subheading-2-contrast {
  @include subheading-2;
  @include contrast;
}

@mixin body {
  @include mat.typography-level(material.$ps-typography, "body-2");
}

@mixin body-contrast {
  @include body;
  @include contrast;
}

@mixin primary {
  color: material.$ps-primary-default-color;
}

@mixin accent {
  color: material.$ps-accent-default-color;
}

@mixin contrast {
  color: white;
}

@mixin shadow {
  text-shadow: variables.$ps-shadow;
}

@mixin center {
  text-align: center;
}

@mixin link {
  @include primary;
  @include utilities.link;
}
