<div fxLayout="column" fxLayoutGap>
  <ps-content-panel fxFlex color="accent">
    <div class="headline">More Coming Soon</div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        There's so much more I would love to share with you about my passion for
        code, but time runs short. If you have questions about what I've shared,
        are curious about what's coming next, or have any other thoughts, please
        reach out through the
        <a class="body-link" [routerLink]="['/connect']">Connect page</a> -
        sharing passions for code is one my favorite things to do!
      </div>
    </ps-content-panel>
  </ps-content-container>
</div>
