<div class="ps-connect-hero" fxFill>
  <img fxFill class="image" [src]="imageUrl$ | async" />

  <div class="headline" fxLayout="column">
    <div fxFlex></div>
    <div
      fxFlex="0 1 auto"
      ngClass.gt-xs="headline-top-gt-xs"
      ngClass.xs="headline-top-xs"
    >
      I'm most joyous when
    </div>
    <div
      fxFlex="0 1 auto"
      ngClass.gt-xs="headline-bottom-gt-xs"
      ngClass.xs="headline-bottom-xs"
    >
      We Connect.
    </div>
    <div fxFlex></div>
  </div>
</div>
