@use "material";
@use "text";
@use "variables";
@use "images";

.ps-dance-content {
  background-color: material.$ps-primary-default-color;
  padding: variables.$ps-spacing 0;
  text-align: center;

  .headline {
    @include text.display-2;
  }

  .body,
  .caption {
    @include text.headline;
  }
}
