<ps-content fxLayout="column" fxLayoutGap>
  <ps-content-panel fxFlex color="accent">
    <div class="headline">I needed a purpose.</div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        When I graduated college, I still had a huge, lingering question: what
        is the point? I didn't mean it in a way like I didn't think there was
        one. I just didn't know what it was, for me.
      </div>

      <div fxFlex class="body">
        One of my favorite courses in college had a lesson on purpose that
        resonated with me deeply. What I took from it was this: any purpose I
        believe I have is chosen by me. I could choose that my purpose is to
        spread an idea, or to build something great, or to, by any, make the
        world a better place.
      </div>
    </ps-content-panel>
  </ps-content-container>

  <ps-content-panel fxFlex color="accent">
    <div class="headline">How could I choose?</div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        I found many purposes to be worthwhile, but I wanted something concise,
        something like a personal mission statement. There were so many things I
        wanted to improve, so many things I wanted to fix. What was the value
        they all shared?
      </div>
    </ps-content-panel>
  </ps-content-container>

  <ps-content-panel fxFlex color="accent">
    <div class="headline">The common thread is joy.</div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        It came to me on a day I got to do the things I love most. I had a
        breakthorough coding out a project I was passionate about; I got to
        dance to live music; and I did both with people who made me happy, and
        for whom I did the same.
      </div>

      <div fxFlex class="body">
        That day I decided on my answer to my question, on what the point is:
        the purpose I choose is to create joy.
      </div>
    </ps-content-panel>
  </ps-content-container>

  <ps-content-panel fxFlex color="accent">
    <div class="headline">My purpose guides me.</div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        Defining my mission was important to me because I wanted a metric for my
        choices. Having that metric gives me a way to make my decisions with
        intent. Knowing that my mission is to create joy gives me a north star
        to follow through life.
      </div>
    </ps-content-panel>
  </ps-content-container>

  <ps-content-panel fxFlex color="accent">
    <div class="headline">Joy can't be created alone.</div>
  </ps-content-panel>

  <ps-content-container fxFlex>
    <ps-content-panel fxFlex fxLayout="column" fxLayoutGap>
      <div fxFlex class="body">
        Even though I know my mission, I can't do it alone. I am most joyous
        when I can create joy with others, whether it's through building
        projects, or sharing a dance floor, or simply connecting as people.
      </div>

      <div fxFlex class="body">
        One of the most important reasons I created this site was to find ways
        to connect with others who share my purpose. If you would like to
        connect, please use the
        <a class="body-link" [routerLink]="['/connect']">Connect page</a> and
        reach out.
      </div>
    </ps-content-panel>
  </ps-content-container>

  <ps-content-container fxFlex>
    <ps-content-panel fxFlex fxLayout="column" fxLayoutGap>
      <div fxFlex class="footer">
        It would be my greatest joy to create some joy together. Thanks for
        reading.
      </div>

      <div fxFlex class="footer">- Matthew</div>
    </ps-content-panel>
  </ps-content-container>
</ps-content>
