<div class="ps-home-page-container" fxFlexFill fxLayout="column" fxLayoutGap>
  <div fxFlex="1 0 auto"></div>
  <div
    fxFlex="0 1 auto"
    ngClass.xs="headline-xs"
    ngClass.gt-xs="headline-gt-xs"
  >
    Hello, I'm Matthew.
  </div>
  <div fxFlex="2 0 auto">
    <div fxLayout="row" fxLayoutAlign="center">
      <button
        fxFlex="0 1 auto"
        mat-raised-button
        color="accent"
        class="call-to-action-button"
        (click)="onCallToActionButtonClicked()"
      >
        Let's Meet
      </button>
    </div>
  </div>
</div>
