<div class="ps-connect-form">
  <form [formGroup]="form" fxLayout="column" (ngSubmit)="onSubmit()">
    <div class="form-section" fxFlex fxLayout="column" fxLayoutGap>
      <div fxFlex class="form-section-header">A Bit About You</div>

      <mat-divider fxFlex></mat-divider>

      <mat-form-field fxFlex>
        <input
          matInput
          [formControlName]="controls.NAME"
          [placeholder]="placeholders.NAME"
          required
        />

        <mat-error *ngIf="form.get(controls.NAME)?.errors?.required">{{
          errorMessages.NAME_REQUIRED
        }}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input
          matInput
          [formControlName]="controls.ORGANIZATION"
          [placeholder]="placeholders.ORGANIZATION"
        />
      </mat-form-field>

      <mat-form-field fxFlex>
        <input
          matInput
          [formControlName]="controls.EMAIL"
          [placeholder]="placeholders.EMAIL"
          required
        />

        <mat-error *ngIf="form.get(controls.EMAIL)?.errors?.required">{{
          errorMessages.EMAIL_REQUIRED
        }}</mat-error>

        <mat-error *ngIf="form.get(controls.EMAIL)?.errors?.email">{{
          errorMessages.EMAIL_INVALID
        }}</mat-error>
      </mat-form-field>
    </div>

    <mat-divider fxFlex></mat-divider>

    <div class="form-section" fxFlex fxLayout="column" fxLayoutGap>
      <div fxFlex class="form-section-header">How Can I Help?</div>

      <mat-divider fxFlex></mat-divider>

      <mat-form-field fxFlex>
        <textarea
          matInput
          [formControlName]="controls.MESSAGE"
          [placeholder]="placeholders.MESSAGE"
          required
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
        ></textarea>

        <mat-error *ngIf="form.get(controls.MESSAGE)?.errors?.required">{{
          errorMessages.MESSAGE_REQUIRED
        }}</mat-error>
      </mat-form-field>
    </div>

    <mat-divider fxFlex></mat-divider>

    <div class="form-section" fxFlex fxLayout="row">
      <button
        type="submit"
        mat-raised-button
        color="accent"
        fxFlex="1 0 auto"
        (click)="onSubmit()"
      >
        Reach out
      </button>
    </div>
  </form>
</div>
