<ps-navigation-indicator></ps-navigation-indicator>

<mat-sidenav-container
  class="ps-sidenav-container"
  fxFill
  (backdropClick)="onBackdropClick()"
>
  <mat-sidenav #sidenav mode="over" [disableClose]="true">
    <ps-sidenav-drawer></ps-sidenav-drawer>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="hasNavigated$ | async">
      <ps-sidenav-button></ps-sidenav-button>
      <router-outlet></router-outlet>
    </ng-container>

    <ps-initialization-indicator
      @slideOut
      *ngIf="!(hasNavigated$ | async)"
      fxFill
      class="initialization-indicator"
    ></ps-initialization-indicator>
  </mat-sidenav-content>
</mat-sidenav-container>
